html {
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #ffd5c2;
  color: #ffd5c2;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.3rem;
}

.case {
  margin-top: 5rem;
  background-color: #c8553d;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
  grid-gap: 0.7rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  border: 2px solid #f28f3b;
  border-radius: 10px;
  box-shadow: 10px 10px 14px -6px rgba(173, 86, 11, 1);
}

.screen {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 1rem;
  border: 2px solid #f28f3b;
  box-shadow: inset 10px 10px 18px -10px rgba(175, 70, 49, 1);
  border-radius: 10px;
  width: 18rem;
  height: 6rem;
}

.num {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 4rem;
  width: 4rem;
  border: 2px solid #f28f3b;
  border-radius: 10px;
  box-shadow: 10px 10px 14px -10px rgba(175, 70, 49, 1);
  cursor: pointer;
}

.calc {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 4rem;
  width: 4rem;
  border: 2px solid #f28f3b;
  border-radius: 10px;
  box-shadow: 10px 10px 14px -10px rgba(175, 70, 49, 1);
  cursor: pointer;
}

.equal {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
  width: 20rem;
  display: grid;
  justify-content: center;
  align-content: center;
  border: 2px solid #f28f3b;
  border-radius: 10px;
  box-shadow: 10px 10px 14px -10px rgba(175, 70, 49, 1);
  cursor: pointer;
}
